* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BFA2DB;
    color: #F5E9E2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav > button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #8F9779;
    color: #F5E9E2;
    font-size: 14px;

    &:hover {
        background-color: #A3B3A3;
    }
}

footer {
    min-height: 50px;
    text-align: center;
    margin-top: auto;
    align-content: center;
}

a {
    text-decoration: none;
    color: #4A4A4A;

    &:visited {
        color: #4A4A4A;
    }
}